Seu amigo <%= @convite.nome_remetente %> convidou você para entrar no seu grupo <%= @convite.grupo_nome %> de seguranção colaborativa.

Se você ainda não tem o aplicativo SegMob baixe agora mesmo e participe:

https://play.google.com/store/apps/details?id=br.com.otgmobile.segurancacolaborativa&hl=pt_BR