<%= form_for(@grupo_colaborativo) do |f| %>
  <% if @grupo_colaborativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grupo_colaborativo.errors.count, "error") %> prohibited this grupo_colaborativo from being saved:</h2>

      <ul>
      <% @grupo_colaborativo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="field">
    <%= f.label :email_dono %><br />
    <%= f.text_field :email_dono %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
