<h1>Listing grupo_colaborativos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grupo_colaborativos.each do |grupo_colaborativo| %>
  <tr>
    <td><%= grupo_colaborativo.nome %></td>
    <td><%= grupo_colaborativo.descricao %></td>
    <td><%= link_to 'Show', grupo_colaborativo %></td>
    <td><%= link_to 'Edit', edit_grupo_colaborativo_path(grupo_colaborativo) %></td>
    <td><%= link_to 'Destroy', grupo_colaborativo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Grupo colaborativo', new_grupo_colaborativo_path %>
