<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @grupo_colaborativo.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @grupo_colaborativo.descricao %>
</p>


<%= link_to 'Edit', edit_grupo_colaborativo_path(@grupo_colaborativo) %> |
<%= link_to 'Back', grupo_colaborativos_path %>
