<h1>Listing comentarios</h1>

<table>
  <tr>
    <th>Mensagem</th>
    <th>Usuario</th>
    <th>Alarme</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.mensagem %></td>
    <td><%= comentario.usuario_id %></td>
    <td><%= comentario.alarme_id %></td>
    <td><%= comentario.data %></td>
    <td><%= link_to 'Show', comentario %></td>
    <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
    <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comentario', new_comentario_path %>
