<p id="notice"><%= notice %></p>

<p>
  <b>Mensagem:</b>
  <%= @comentario.mensagem %>
</p>

<p>
  <b>Usuario:</b>
  <%= @comentario.usuario_id %>
</p>

<p>
  <b>Alarme:</b>
  <%= @comentario.alarme_id %>
</p>

<p>
  <b>Data:</b>
  <%= @comentario.data %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
