<%= form_for(@atendimento) do |f| %>
  <% if @atendimento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atendimento.errors.count, "error") %> prohibited this atendimento from being saved:</h2>

      <ul>
      <% @atendimento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :hora_inicio %><br />
    <%= f.date_select :hora_inicio %>
  </div>
  <div class="field">
    <%= f.label :hora_encerramento %><br />
    <%= f.date_select :hora_encerramento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
