<h1>Listing atendimentos</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Hora inicio</th>
    <th>Hora encerramento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @atendimentos.each do |atendimento| %>
  <tr>
    <td><%= atendimento.status %></td>
    <td><%= atendimento.hora_inicio %></td>
    <td><%= atendimento.hora_encerramento %></td>
    <td><%= link_to 'Show', atendimento %></td>
    <td><%= link_to 'Edit', edit_atendimento_path(atendimento) %></td>
    <td><%= link_to 'Destroy', atendimento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Atendimento', new_atendimento_path %>
