<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @atendimento.status %>
</p>

<p>
  <b>Hora inicio:</b>
  <%= @atendimento.hora_inicio %>
</p>

<p>
  <b>Hora encerramento:</b>
  <%= @atendimento.hora_encerramento %>
</p>


<%= link_to 'Edit', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Back', atendimentos_path %>
