<%= form_for(@tipo_sensor) do |f| %>
  <% if @tipo_sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_sensor.errors.count, "error") %> prohibited this tipo_sensor from being saved:</h2>

      <ul>
      <% @tipo_sensor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
