<h1>Listing tipo_sensors</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipo_sensors.each do |tipo_sensor| %>
  <tr>
    <td><%= tipo_sensor.nome %></td>
    <td><%= tipo_sensor.descricao %></td>
    <td><%= link_to 'Show', tipo_sensor %></td>
    <td><%= link_to 'Edit', edit_tipo_sensor_path(tipo_sensor) %></td>
    <td><%= link_to 'Destroy', tipo_sensor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tipo sensor', new_tipo_sensor_path %>
