<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @tipo_sensor.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @tipo_sensor.descricao %>
</p>


<%= link_to 'Edit', edit_tipo_sensor_path(@tipo_sensor) %> |
<%= link_to 'Back', tipo_sensors_path %>
