<h1>Listing enderecos</h1>

<table>
  <tr>
    <th>Logradouro</th>
    <th>Numero</th>
    <th>Bairro</th>
    <th>Cidade</th>
    <th>Estado</th>
    <th>Cep</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Referencia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @enderecos.each do |endereco| %>
  <tr>
    <td><%= endereco.logradouro %></td>
    <td><%= endereco.numero %></td>
    <td><%= endereco.bairro %></td>
    <td><%= endereco.cidade %></td>
    <td><%= endereco.estado %></td>
    <td><%= endereco.cep %></td>
    <td><%= endereco.latitude %></td>
    <td><%= endereco.longitude %></td>
    <td><%= endereco.referencia %></td>
    <td><%= link_to 'Show', endereco %></td>
    <td><%= link_to 'Edit', edit_endereco_path(endereco) %></td>
    <td><%= link_to 'Destroy', endereco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Endereco', new_endereco_path %>
