<%= form_for(@convite) do |f| %>
  <% if @convite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@convite.errors.count, "error") %> prohibited this convite from being saved:</h2>

      <ul>
      <% @convite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_remetente %><br />
    <%= f.text_field :email_remetente %>
  </div>
  <div class="field">
    <%= f.label :email_destinatario %><br />
    <%= f.text_field :email_destinatario %>
  </div>
  <div class="field">
    <%= f.label :grupo_id %><br />
    <%= f.text_field :grupo_id %>
  </div>
  <div class="field">
    <%= f.label :grupo_nome %><br />
    <%= f.text_field :grupo_nome %>
  </div>
  <div class="field">
    <%= f.label :nome_remetente %><br />
    <%= f.text_field :nome_remetente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
