<h1>Listing convites</h1>

<table>
  <tr>
    <th>Email remetente</th>
    <th>Email destinatario</th>
    <th>Grupo</th>
    <th>Grupo nome</th>
    <th>Nome remetente</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @convites.each do |convite| %>
  <tr>
    <td><%= convite.email_remetente %></td>
    <td><%= convite.email_destinatario %></td>
    <td><%= convite.grupo_id %></td>
    <td><%= convite.grupo_nome %></td>
    <td><%= convite.nome_remetente %></td>
    <td><%= link_to 'Show', convite %></td>
    <td><%= link_to 'Edit', edit_convite_path(convite) %></td>
    <td><%= link_to 'Destroy', convite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Convite', new_convite_path %>
