<p id="notice"><%= notice %></p>

<p>
  <b>Email remetente:</b>
  <%= @convite.email_remetente %>
</p>

<p>
  <b>Email destinatario:</b>
  <%= @convite.email_destinatario %>
</p>

<p>
  <b>Grupo:</b>
  <%= @convite.grupo_id %>
</p>

<p>
  <b>Grupo nome:</b>
  <%= @convite.grupo_nome %>
</p>

<p>
  <b>Nome remetente:</b>
  <%= @convite.nome_remetente %>
</p>


<%= link_to 'Edit', edit_convite_path(@convite) %> |
<%= link_to 'Back', convites_path %>
