<h1>Listing alarmes</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Tempo atendimento</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alarmes.each do |alarme| %>
  <tr>
    <td><%= alarme.data %></td>
    <td><%= alarme.tempo_atendimento %></td>
    <td><%= alarme.status %></td>
    <td><%= link_to 'Show', alarme %></td>
    <td><%= link_to 'Edit', edit_alarme_path(alarme) %></td>
    <td><%= link_to 'Destroy', alarme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alarme', new_alarme_path %>
