<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @alarme.data %>
</p>

<p>
  <b>Tempo atendimento:</b>
  <%= @alarme.tempo_atendimento %>
</p>

<p>
  <b>Status:</b>
  <%= @alarme.status %>
</p>


<%= link_to 'Edit', edit_alarme_path(@alarme) %> |
<%= link_to 'Back', alarmes_path %>
