<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @sensor.codigo %>
</p>

<p>
  <b>Localizacao:</b>
  <%= @sensor.localizacao %>
</p>

<p>
  <b>Status:</b>
  <%= @sensor.status %>
</p>


<%= link_to 'Edit', edit_sensor_path(@sensor) %> |
<%= link_to 'Back', sensors_path %>
