<!DOCTYPE html>
<html>
<head>
  <title>SistemaColaborativoSeguranca</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%if usuario_signed_in?%>
		<%= render "layouts/header" %>
	<%else%>
		<%= render "layouts/header_unloged" %>
	<%end%>
	<%= yield %>
</body>
</html>
